# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Generated audio
artifacts/
*.wav

# Models / voices
voices/
*.onnx
*.json

# OS
.DS_Store
Thumbs.db

graph.png

rag_docs/